.buttons {
    align-self: center;
    display: flex;
}

@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
        padding: 15px;
    }
}

.buttons__button {
    background-color: white;
    border: none;
    color: hsl(180, 100%, 25%);
}

@media (max-width: 767px) {
    .buttons__button {
        padding: 5px;
    }
}

.buttons__button:disabled {
    color: hsl(180, 18%, 41%);
}