.form {
    background-color: white;
    padding: 20px;
    display: flex;
}

@media (max-width: 767px) {
    .form {
        flex-direction: column;
    }
}

.form__button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: teal;
    margin-left: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: 1s;
}

.form__button:hover {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .form__button {
        flex-shrink: 0;
        flex-grow: 1;
        margin-left: 0px;
        margin-top: 5px;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ccc;
    flex-grow: 1;
}